{% extends 'base.html' %}
{% block content %}
    <h2>Dashboard</h2>
    <a href="{{ url_for('add_article') }}">Add New Article</a>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ url_for('article', filename=article['date_time'].replace(' ', '_').replace(':', '-') + '.json') }}">{{ article.title }}</a>
                <a href="{{ url_for('edit_article', filename=article['date_time'].replace(' ', '_').replace(':', '-') + '.json') }}">Edit</a>
                <a href="{{ url_for('delete_article', filename=article['date_time'].replace(' ', '_').replace(':', '-') + '.json') }}" onclick="return confirm('Are you sure?')">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
