{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the Personal Blog</h2>
    <ul>
        {% for article in articles %}
            {% if article.date_time %}
                <li>
                    <a href="{{ url_for('article', filename=article['date_time'].replace(' ', '_').replace(':', '-') + '.json') }}">
                        {{ article.title }} - {{ article.date_time }}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li>No articles available</li>
        {% endfor %}
    </ul>
{% endblock %}
